
github "AFNetworking/AFNetworking" "4.0.1"

# github "luke-jr/libbase58"
# TEST: branch with xcode framework
github "xinsight/libbase58" "carthage"

# github "realm/realm-cocoa" "v3.17.3"
github "realm/realm-cocoa" "v10.7.2"

# pod 'GZIP', '~> 1.2.2'
github "nicklockwood/GZIP" "1.2.2"

